* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header {
    font-size: .9rem;
    padding: 5px;
    background-color: grey;
    color: white;
    text-align: center;
    height: 43.5px;
}

main {
    height: calc(100vh - 43.5px);
}

.container-select-file {
    display: flex;
    flex-direction: column;
    margin: 25px;
    font-size: .7rem;
}

label {
    margin-bottom: 10px;
}

label,
input {
    font-size: .6rem;
}

.container-select-sheet {
    display: flex;
    flex-direction: column;
    margin: 25px;
    font-size: .7rem;
    border: 1px solid gray;
    padding: 10px;
    border-radius: 5px;
    height: 50vh;
}

.select-sheets {
    width: 200px;
}

.btn-send-file {
    width: 200px;
    height: 20px;
    margin-bottom: 10px;   
    font-size: .7rem; 
    cursor: pointer;
}

