<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Export excel to Mongo</title>
    <link rel="stylesheet" href="../styles/style.css">
</head>
<body>
    <header><h1>Export Excel to Mongo Cloud</h1></header>
    <main>
        <div class="container">
            <label for="nomeArquivo">Selecione um arquivo excel</label>
            <input type="file" id="nomeArquivo">
        </div>
    </main>
    <script src="index.js"></script>
</body>
</html>