<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Export excel to Mongo</title>
    <link rel="stylesheet" href="../styles/style.css">
</head>
<body>
    <header>Export Excel to Mongo Cloud</header>
    <main>
        <div class="container">
            <input type="file">
        </div>
    </main>
    <footer>Eduardo Oliveira - www.edwdev.com</footer>
</body>
</html>